# MLflow Model URI
MODEL_URI="runs:/<run_id>/logistic_regression_churn"

# MLflow Tracking URI
MLFLOW_TRACKING_URI=http://mlflow_server:5000


AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_DEFAULT_REGION=us-east-1
MLFLOW_S3_ENDPOINT_URL=http://minio:9000

# UI
API_BASE_URL=http://api:8000